<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <form action="{% url 'login:register' %}" method="post">
            {% csrf_token %}
            <p>{{ form.username }}</p>
            <p>{{ form.email }}</p>
            <p>{{ form.password1 }}</p>
            <p>{{ form.password2 }}</p>
            <input type="submit" value="Đăng ký">
        </form>
    </center>
</body>
</html>